# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# resume tex files
/public/resume/resume.aux
/public/resume/resume.fdb_latexmk
/public/resume/resume.fls
/public/resume/resume.log
/public/resume/resume.synctex.gz
/public/resume/resume.tex
/public/resume/__latexindent_temp.tex