.outer-container{
    background:red;
    max-width: 40%;
    margin: auto;
    // position: fixed;

    .header {
        background-color: green;
        position: absolute;
    }

    .main-container {
       background:blue;
       height: 10000px;
    }
}